{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1544194215-541c2d3561a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlmZSUyMGlzJTIwYmVhdXRpZnVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80"height="550" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1533907650686-70576141c030?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlmZSUyMGlzJTIwYmVhdXRpZnVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"height="550" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1556178676-83ce55dc622f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bGlmZSUyMGlzJTIwYmVhdXRpZnVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" height="550"alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><br>
  <h1>Posted Projects</h1><br>
<div class="container-fluid">
  <div class="row">
    {% for proj in project %}
      <div class="col-md-4">
        <div class="card-group">
          <div class="card">
            <div class="card-title">
              <p class="text-primary text-center">{{user.username}}</p>
            </div>
            <img class="card-img-top" src="{{proj.image.url}}" alt="Card image cap">
            <div class="card__share">
              <a id="share" class="share-icon" href="{{proj.url}}" target="_blank"><i class="fa fa-share"></i></a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{proj.project_name}}</h5>
              <p class="card-text">{{proj.description}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{proj.pub_date}}</small>
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
