<nav id="nav" class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <button class="openbtn" onclick="openNav()"><i class="fa fa-bars"></i>  </button>  

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a style="color:black"class="nav-link" href="#"><i class="fa fa-search"></i>
            <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
    <div class="col-md-4 navbar-center">
      <a style="color:black; margin-left: 30%;"class="nav-link" href="/">LAURELS<span class="sr-only">(current)</span></a>
    </div>
    <div class="col-md-4 navbar-right">
        <a style="color:black;margin-left: 70%; "class="nav-link" href="#">REGISTER/LOGIN
          <span class="sr-only">(current)</span></a>
    </div>
  </nav>
  <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
    </script>