{%extends 'base.html'%}
 {% block content %}
<br><br><br><br>
 <div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
        {% if project.image %}
              <img src="{{project.image.url}}" alt="" class="card-img-top projimg">
              {% endif %}
              <div class="card__share">
                <a id="share" class="share-icon" href="{{project.url}}" target="_blank"><i class="fa fa-share"></i></a>
              </div>
      </div>
      <div class="col-md-4">
        <div class="card-body text-center">
          <h5 class="card-title">Project Name: {{project.project_name}}</h5>
          <p>About: {{ project.description }}</p>
          <p>Category: {{project.category}}</p>
          <p>Location: {{project.location}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">By: {{user.username}}</small>
        </div>
      </div>
  </div>
  <div class="row">
    <form action="{%url 'rate' project.id %}" method="post">
      {% csrf_token %} 
      <div class="mb-3">
      <label for="Design">Design</label>
      <input type="number" class="form-control" name="design" min="0"max="10" value="0">
      </div>
      <div class="mb-3">
        <label for="Content">Content</label>
        <input type="number" class="form-control" name="content" min="0"max="10" value="0">
      </div>
      <div class="mb-3">
          <label for="Usability">Usability</label>
          <input type="number" class="form-control" name="usability" min="0"max="10" value="0">
      </div>
      <button class="btn btn-warning btn-sm" type="submit">Rate</button>
    </form>
  </div>
</div>
 {% endblock %}