{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<br><br><br><br>
<div class= "container-fluid"style="background-color:bisque;font-style:'Oswald', sans-serif ;">
    <div class="col-md-6"style="margin-left:35%">
        <div class="form-data">
            <form action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2><u>Upload A Project</u></h2>
                {% bootstrap_form form%}
                <button class="btn btn-warning btn-sm" type="submit">Upload</button>
            </form>
        </div>
</div>
</div>
{% endblock %}